*{
    margin: 0;
    padding: 0;

}

body{
    background: url("../assests/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh  ;
}

#board{
    height: 80vmin;
    width: 75vmin;
    background: linear-gradient(rgb(131, 205, 131), rgb(229, 229, 138));
    border: 2px solid black;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
   
}

.head{
    background:linear-gradient(rgb(166, 255, 0),rgb(14, 123, 35));
    border: 2px solid rgb(5, 76, 14);
    border-radius: 2px;
    transform: scale(1.2);

}
.food{
    background: rgb(183, 96, 26);
    border-radius: 20px;
   transform: scale(0.7);
}

.snake{
    background: rgb(23, 128, 0);
    border: 2px solid rgb(5, 76, 14);
    border-radius: 2px;
}

h1{
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
#scorebox{
    position: absolute;
    top: 75px;
    right: 200px;
    font-size: 36px;
    font-weight: 600;

}
#hiscorebox{
    position: absolute;
    top: 38px;
    right:200px;
    font-size: 36px;
    font-weight: 600;
    font-weight: 600;
    

  

}